// Colours
$green-main: #005257;
$green-main-hover: #00373a;
$orange-main: #BE5800;
$orange-main-hover: #a14b00;
$green-secondary: #001B1C;
$brown-secondary: #1C0D00;
$almost-white: #FFFFFC;
$almost-white-hover: #e9e9e9;
$green-success: #198700;
$red-danger: #bb1a1a;
$red-danger-hover: #981111;

$navbar-light-color: $almost-white;
$navbar-light-active-color: $almost-white;
$navbar-light-hover-color: $almost-white;
$link-color: $green-secondary;
$link-hover-color: $brown-secondary;

// Fonts
$font-heading: 'Ubuntu', sans-serif;
$font-text: 'Quicksand', sans-serif;

$h3-font-size: 22px;

// Decoration
$link-decoration: none;
$link-hover-decoration: none;

// Z-index
$zindex-modal: 100000;

// Carousel transition
$carousel-transition: none;