h1, h2, h3, h4, a {
    font-family: $font-heading;
    font-weight: 300;
}

p, label, li, button, span {
    font-family: $font-text;
}

h1, 
.h1 {
    padding: 1.5rem 0 1.5rem 0;
    text-align: center;

    &.h1-align-left {
        text-align: left;
    }
}

.h2-details {
    padding: 1rem 0 0.5rem 0;
}

h3 {
    font-size: $h3-font-size;
}

a {
    color: auto;
    text-decoration: none;
}

.bold,
.text-danger,
.text-danger-admin {
    font-weight: 600;
}

.text-danger-admin {
    color: $brown-secondary;
}